/.idea
/artifacts
/www-old
/www/www
/www/js/line-down.parser.js
**/*.log
**/node_modules/**

src/**/*.tgz
src/**/*.user
src/**/*.suo
src/net/**/bin/
src/net/**/obj/
src/net/**/packages/*/
src/net/Tests/line-down.Tests.Parser/test-case-data/*.json
src/net/Tests/line-down.Tests.Parser/test-case-data/*.json.Generated.cs
src/node/parser/lib/collections.js
src/node/parser/lib/inline.js
src/node/parser/lib/linebuilder.js
src/node/parser/lib/lineprocessor.js
src/node/parser/lib/parser.js
src/node/parser/lib/scope.js
src/node/parser/lib/startswith.js

src/node/parser/tests/mocha-all.js
src/node/parser/tests/helpers.js
src/node/parser/tests/*.json

src/js/parser/tests/*.json

src/tests/*-generated-test-sets.json

docs/*.~vsdx