/.idea
/www-old
/www/www
/www/js/parser.js
**/*.log
**/node_modules/**

src/node/parser/line-down-*.tgz

src/node/parser/tests/testcases.js
src/node/parser/tests/smoke-tests.js
src/node/parser/tests/helpers.js