doctype
head
    title line-down :: The world's got thousands of problems. Let's add another one.
    meta(name="viewport",content="width=device-width, initial-scale=1")
    meta(name="http-equiv",content="IE=edge")
    link(rel="stylesheet",href="css/bootstrap.css",media="screen")
    link(rel="stylesheet",href="css/bootswatch.min.css")
    link(rel="stylesheet",href="css/line-down.css")
body
    != yield
    footer
        div(class="row")
            div(class="col-lg-12")
                ul(class="list-unstyled")
                    li(class="pull-right")
                        a(href="#top") Back to top
                    li
                        a(href="https://twitter.com/null_loop") Twitter
                        a(href="https://github.com/null-loop/line-down") GitHub
                        a(href="https://travis-ci.org/null-loop/line-down") Travis-CI
                        a(href="http://www.gnu.org/licenses/gpl-2.0.html") GPL v2