<!DOCTYPE html>
<html lang="en">
<!--
Copyright (C) 2015 Daniel Gray, Grayholme Ltd

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-->
<head>
    <meta charset="utf-8">
    <title>line-down :: The world's got thousands of problems. Let's add another one.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="google-site-verification" content="pQfMLa1499kqZ5ktebP3F-gzu1lCzepPuWH3yuAPYOc" />
    <link rel="stylesheet" href="css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="css/bootswatch.min.css">
    <link rel="stylesheet" href="css/line-down.css">
    <link rel="stylesheet" href="css/mocha.css">
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="index.html" class="navbar-brand">line-down</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li>
                    <a href="testsuite.html">Test Suite</a>
                </li>
                <li>
                    <a href="tryit.html">Try It</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/null-loop/line-down"><strong>GitHub Project</strong></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
<%- yield %>
    <footer>
        <div class="row">
            <div class="col-lg-12">

                <ul class="list-unstyled">
                    <li class="pull-right"><a href="#top">Back to top</a></li>
                    <li><a href="https://twitter.com/null_loop">Twitter</a></li>
                    <li><a href="https://github.com/null-loop/line-down/">GitHub</a></li>
                    <li><a href="https://travis-ci.org/null-loop/line-down/">Travis CI</a></li>
                    <li><a href="http://www.gnu.org/licenses/gpl-2.0.html">GPL v2</a></li>
                </ul>
                <p>Another Grayholme Ltd abomination</p>
            </div>
        </div>
    </footer>
</div>
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/knockout.js"></script>
<script src="js/parser.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-60396110-1', 'auto');
    ga('send', 'pageview');

</script>