<div class="page-header">
    <div class="row">
        <div class="col-lg-12 col-md-7 col-sm-6">
            <h1>line-down</h1>
            <p class="lead">The world's got thousands of problems. Let's add another one.</p>
            <a href="https://travis-ci.org/null-loop/line-down">
                <img src="https://travis-ci.org/null-loop/line-down.svg?branch=master"/>
            </a>
            <a href="https://david-dm.org/null-loop/line-down" title="Dependency status">
                <img src="https://david-dm.org/null-loop/line-down.svg"/>
            </a>
            <a href="https://david-dm.org/null-loop/line-down#info=devDependencies" title="devDependency status">
                <img src="https://david-dm.org/null-loop/line-down/dev-status.svg"/>
            </a>
            <a href="http://npmjs.com/package/line-down">
                <img src="https://img.shields.io/npm/v/line-down.svg"/>
            </a>
            <a href="https://coveralls.io/r/null-loop/line-down">
                <img src="https://img.shields.io/coveralls/null-loop/line-down/master.svg"/>
            </a>
            <a href="https://www.codacy.com/public/nullloop/line-down">
                <img src="https://img.shields.io/codacy/22102be6eccf4cd8a97c7506c5d322d2.svg"/>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h2>Progress</h2>

        <p>We're on track for a 0.1.0 version of both the spec and the JS/node implementations.</p>
        <p>You can track our current dev activity on <a href="https://trello.com/b/6pxyaFUd/line-down">Trello</a>.
            Everything with a green label is in scope for 0.1.0.</p>

    </div>
    <div class="col-lg-6">
        <h3>Current Version</h3>
        <p>The current version on npm is v0.0.8 which sort of works, it's more there to test
        out the build chain and get everything working in a neat line.</p>
        <p>Beyond that and what's linked to on the website we've not released anything else yet.</p>
        <p>The first <em>proper</em> version will be <strong>v0.1.0</strong> - coming in the next couple of weeks</p>
    </div>
    <div class="col-lg-6">
        <h3>Implementations</h3>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Language</th>
                <th>Framework</th>
                <th>Version</th>
                <th>Impl. Type</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Javascript</td>
                <td>Node</td>
                <td>v0.0.8</td>
                <td>Reference / Alpha</td>
            </tr>
            <tr>
                <td>Javascript</td>
                <td>Web</td>
                <td>v0.0.8</td>
                <td>Reference / Alpha</td>
            </tr>
            <tr>
                <td>Java</td>
                <td></td>
                <td></td>
                <td>Planned</td>
            </tr>
            <tr>
                <td>.NET / C#</td>
                <td></td>
                <td></td>
                <td>Planned</td>
            </tr>
            <tr>
                <td>Ruby</td>
                <td></td>
                <td></td>
                <td>Planned</td>
            </tr>
            <tr>
                <td>Python</td>
                <td></td>
                <td></td>
                <td>Planned</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<hr/>