<div class="page-header">
    <div class="row">
        <div class="col-lg-12 col-md-7 col-sm-6">
            <h1>Try It</h1>

            <p class="lead">You might like it - or not.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h3>line-down</h3>
          <textarea id="linedownInput" rows="20" wrap="off">#?lead I LEAD!
#2@trash?lead Me not so much

So what if I just start typing? Ooh a paragraph. That one was
implicitly opened, it's a block spec so it's covering multiple
lines of input. We can close it with a blank line:

And a new paragraph will be started. Implicit paragraphs are
also closed by starting another block spec, like the following
block quote:
""**That's great**, we're inside an implicit paragraph
too, one that's inside the block quote. We can do the same
thing again and open another block quote:
""//Deep.// Block quotes won't close implicitly, we've got
to tell them when we're done.""
""Which isn't yet...
""There was just one more thing...
""//"Did anyone actually like Inception?"// - This is like
Block Quote Inception.""
""
""
That. Was. Deep""
''@classy And we're back in the real world of ::paragraphs:: &
stuff. Like the entirely explicit one we're in right now.
Explicit paragraphs let you specify a css/id spec. Like this
classy paragraph right here!''
``@@label-danger@UH-OH We're in trouble now`` - That span had
an implicit CSS class of ::label:: added to it by the :: @@::
notation




All that extra whitespace had **//zero//** effect!
+ A list!
+ **Wow**
+ This is //sweeeeeeeeet//

& This one is unordered
& Because order sucks

%+100@classy
+We rock!
+@trash Why? We started at **100**. That's why!
+And we have class!
%+
Nested lists aren't done yet... give us time
</textarea>
        <h3>HTML</h3>
        <textarea id="linedownOutput" rows="20" disabled="disabled" wrap="off"></textarea>
    </div>
    <div class="col-lg-6">
        <h3><span id="htmlGenerationTime"></span></h3>
        <hr/>
        <div id="linedownHtml"></div>
        <hr/>
    </div>
</div>