textarea{
  resize: none;
  border:none;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  padding:0;
  box-shadow:none;
  font-family: Ubuntu Mono, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size:1.1em;
  padding:0 4px 0 4px;
  background-color:#436280;
  color:rgb(235,235,235);
}

code,
kbd,
pre,
samp {
  font-family: Ubuntu Mono, Menlo, Monaco, Consolas, "Courier New", monospace;
}

code {
  padding: 4px 4px 4px 4px;
  font-size: 90%;
  color: rgb(235,235,235);
  background-color:#436280;
  border-radius: 0;
}

.trash{
  font-weight:bold;
  color:#bb4444;
}

.this{
  font-weight:100;
}

.is{
  text-decoration:underline;
}

.classy{
  color:#44bb44;
}

hr.classy{
    border-top-color:#44bb44;
}

#lead{
  color:#bbbbbb;
  font-size:6em;
  font-weight:600;
}

#follow{
  color:#cccccc;
  font-size:4em;
  font-weight:200;
}
del{
  background:rgb(217, 83, 79);
  color:white;
  padding:4px;
}
ins{
  background:rgb(92, 184, 92);
  color:white;
  padding:4px;
}

#rule{
    border-top-width:5px;
}
